body {
  margin:0px;
  background-color:rgba(228, 232, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:862px;
}
#u12420 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:25px;
  width:419px;
  height:862px;
}
#u12421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:423px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:669px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 232, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12422 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:113px;
  width:375px;
  height:669px;
}
#u12423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:326px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(77, 100, 142, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12424 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:114px;
  width:375px;
  height:64px;
}
#u12425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12426 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:142px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:37px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12428 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:142px;
  width:73px;
  height:26px;
}
#u12429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u12430 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:153px;
  width:5px;
  height:5px;
}
#u12431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u12432 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:148px;
  width:1px;
  height:14px;
}
#u12433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12434 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:148px;
  width:14px;
  height:14px;
}
#u12435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u12436 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:152px;
  width:6px;
  height:6px;
}
#u12437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u12438 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:151px;
  width:8px;
  height:8px;
}
#u12439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u12440 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:153px;
  width:5px;
  height:5px;
}
#u12441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:37px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12442 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:142px;
  width:73px;
  height:26px;
}
#u12443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u12444 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:153px;
  width:5px;
  height:5px;
}
#u12445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u12446 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:148px;
  width:1px;
  height:14px;
}
#u12447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12448 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:148px;
  width:14px;
  height:14px;
}
#u12449 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u12450 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:152px;
  width:6px;
  height:6px;
}
#u12451 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u12452 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:151px;
  width:8px;
  height:8px;
}
#u12453 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u12454 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:153px;
  width:5px;
  height:5px;
}
#u12455 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u12456 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:122px;
  width:15px;
  height:10px;
}
#u12457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u12458 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:123px;
  width:13px;
  height:9px;
}
#u12459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
}
#u12460 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:122px;
  width:25px;
  height:11px;
}
#u12461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u12462 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:148px;
  width:10px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
}
#u12463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12464 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:178px;
  width:375px;
  height:604px;
}
#u12465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12467 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:278px;
  width:100px;
  height:100px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:56px;
  color:#FFFFFF;
}
#u12468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u12469 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:310px;
  width:50px;
  height:36px;
}
#u12470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
}
#u12471 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:401px;
  width:77px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u12472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u12473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:24px;
}
#u12473 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:439px;
  width:159px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u12474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:155px;
  white-space:nowrap;
}
#u12475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:48px;
  background:inherit;
  background-color:rgba(77, 100, 142, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12475 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:508px;
  width:269px;
  height:48px;
  font-size:18px;
  color:#FFFFFF;
}
#u12476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:269px;
  word-wrap:break-word;
}
