body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1424px;
  height:622px;
}
#u19423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1424px;
  height:622px;
}
#u19424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:303px;
  width:1420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19425 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:120px;
  width:1400px;
  height:360px;
}
#u19426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:172px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
