body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:465px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u14193 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:53px;
  width:375px;
  height:667px;
}
#u14194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u14195 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:140px;
  width:375px;
  height:603px;
  font-size:12px;
}
#u14196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u14198 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:190px;
  width:100px;
  height:100px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:56px;
  color:#FFFFFF;
}
#u14199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
}
#u14200 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:222px;
  width:49px;
  height:35px;
}
#u14201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A9A9A9;
}
#u14202 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:360px;
  width:334px;
  height:38px;
  font-size:16px;
  color:#A9A9A9;
}
#u14203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u14204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u14204 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:307px;
  width:315px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u14205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
#u14206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:47px;
  background:inherit;
  background-color:rgba(9, 187, 7, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14206 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:426px;
  width:344px;
  height:47px;
  font-size:18px;
  color:#FFFFFF;
}
#u14207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:344px;
  word-wrap:break-word;
}
#u14208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:47px;
}
#u14208 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:488px;
  width:344px;
  height:47px;
  font-size:18px;
  color:#999999;
}
#u14209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:344px;
  word-wrap:break-word;
}
#u14210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#576B95;
}
#u14210 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:687px;
  width:315px;
  height:16px;
  color:#576B95;
}
#u14211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
#u14212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#A9A9A9;
}
#u14212 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:713px;
  width:315px;
  height:13px;
  font-size:11px;
  color:#A9A9A9;
}
#u14213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
