body {
  margin:0px;
  background-color:rgba(228, 232, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:725px;
}
#u14316 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:60px;
  width:408px;
  height:725px;
}
#u14317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:354px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:725px;
}
#u14318 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:60px;
  width:408px;
  height:725px;
}
#u14319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:354px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:725px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14320 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:60px;
  width:408px;
  height:725px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:354px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14322_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:250px;
  height:61px;
}
#u14322 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:439px;
  width:240px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u14323 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:210px;
  word-wrap:break-word;
}
#u14324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u14324 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:318px;
  width:375px;
  height:812px;
}
#u14325 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(240, 237, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u14326 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:373px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u14327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u14328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u14328 {
  border-width:0px;
  position:absolute;
  left:1203px;
  top:484px;
  width:38px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u14329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
