body {
  margin:0px;
  background-color:rgba(228, 232, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:862px;
}
#u12473 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:25px;
  width:419px;
  height:862px;
}
#u12474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:423px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:669px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 232, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12475 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:113px;
  width:375px;
  height:669px;
}
#u12476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:326px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(77, 100, 142, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12477 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:114px;
  width:375px;
  height:64px;
}
#u12478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12479 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:142px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:37px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12481 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:142px;
  width:73px;
  height:26px;
}
#u12482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u12483 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:153px;
  width:5px;
  height:5px;
}
#u12484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u12485 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:148px;
  width:1px;
  height:14px;
}
#u12486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12487 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:148px;
  width:14px;
  height:14px;
}
#u12488 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u12489 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:152px;
  width:6px;
  height:6px;
}
#u12490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u12491 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:151px;
  width:8px;
  height:8px;
}
#u12492 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u12493 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:153px;
  width:5px;
  height:5px;
}
#u12494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:37px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12495 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:142px;
  width:73px;
  height:26px;
}
#u12496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u12497 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:153px;
  width:5px;
  height:5px;
}
#u12498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u12499 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:148px;
  width:1px;
  height:14px;
}
#u12500 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12501 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:148px;
  width:14px;
  height:14px;
}
#u12502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u12503 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:152px;
  width:6px;
  height:6px;
}
#u12504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u12505 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:151px;
  width:8px;
  height:8px;
}
#u12506 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u12507 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:153px;
  width:5px;
  height:5px;
}
#u12508 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u12509 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:122px;
  width:15px;
  height:10px;
}
#u12510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u12511 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:123px;
  width:13px;
  height:9px;
}
#u12512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
}
#u12513 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:122px;
  width:25px;
  height:11px;
}
#u12514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u12515 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:148px;
  width:10px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:16px;
}
#u12516 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12517 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:178px;
  width:375px;
  height:604px;
}
#u12518 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12520 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:278px;
  width:100px;
  height:100px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:56px;
  color:#FFFFFF;
}
#u12521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u12522 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:310px;
  width:50px;
  height:36px;
}
#u12523 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
}
#u12524 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:401px;
  width:77px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u12525 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u12526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:24px;
}
#u12526 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:439px;
  width:159px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u12527 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:155px;
  white-space:nowrap;
}
#u12528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:48px;
  background:inherit;
  background-color:rgba(77, 100, 142, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12528 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:508px;
  width:269px;
  height:48px;
  font-size:18px;
  color:#FFFFFF;
}
#u12529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:269px;
  word-wrap:break-word;
}
