body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:603px;
}
#u18895 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:140px;
  width:802px;
  height:603px;
}
#u18896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:798px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
}
#u18897 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:341px;
  width:79px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
}
#u18898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u18899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
}
#u18899 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:341px;
  width:456px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
}
#u18900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  white-space:nowrap;
}
#u18901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u18901 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:360px;
  width:140px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u18902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u18903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
}
#u18903 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:386px;
  width:457px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
}
#u18904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u18905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u18905 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:408px;
  width:140px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u18906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u18907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
}
#u18907 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:437px;
  width:92px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
}
#u18908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u18909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
}
#u18909 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:437px;
  width:454px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
}
#u18910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  white-space:nowrap;
}
