body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1857px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:118px;
}
#u18958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:118px;
}
#u18959 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:51px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:343px;
}
#u18960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:630px;
  width:231px;
  height:343px;
}
#u18961 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:164px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1627px;
  height:118px;
}
#u18962 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:0px;
  width:1627px;
  height:118px;
}
#u18963 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:51px;
  width:1623px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:43px;
  background:inherit;
  background-color:rgba(44, 59, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#75A4AF;
  text-align:left;
}
#u18964 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:546px;
  width:231px;
  height:43px;
  font-size:14px;
  color:#75A4AF;
  text-align:left;
}
#u18965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:227px;
  word-wrap:break-word;
}
#u18966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:43px;
  background:inherit;
  background-color:rgba(44, 59, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#75A4AF;
  text-align:left;
}
#u18966 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:629px;
  width:231px;
  height:43px;
  font-size:14px;
  color:#75A4AF;
  text-align:left;
}
#u18967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:227px;
  word-wrap:break-word;
}
#u18968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:45px;
}
#u18968 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:118px;
  width:1447px;
  height:45px;
}
#u18969 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:37px;
  background:inherit;
  background-color:rgba(44, 59, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u18970 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:81px;
  width:82px;
  height:37px;
  font-size:14px;
  color:#FFFFFF;
}
#u18971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u18972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:59px;
}
#u18972 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:59px;
  width:436px;
  height:59px;
}
#u18973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u18974 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:173px;
  width:23px;
  height:22px;
}
#u18975 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u18976 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:220px;
  width:23px;
  height:22px;
}
#u18977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u18978 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:267px;
  width:23px;
  height:22px;
}
#u18979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u18980 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:314px;
  width:23px;
  height:22px;
}
#u18981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u18982 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:360px;
  width:23px;
  height:22px;
}
#u18983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u18984 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:407px;
  width:23px;
  height:22px;
}
#u18985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u18986 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:454px;
  width:23px;
  height:22px;
}
#u18987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u18988 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:501px;
  width:23px;
  height:22px;
}
#u18989 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u18990 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:548px;
  width:23px;
  height:22px;
}
#u18991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u18992 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:595px;
  width:23px;
  height:22px;
}
#u18993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u18994 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:642px;
  width:23px;
  height:22px;
}
#u18995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u18996 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:688px;
  width:23px;
  height:22px;
}
#u18997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u18998 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:735px;
  width:23px;
  height:22px;
}
#u18999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u19000 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:782px;
  width:23px;
  height:22px;
}
#u19001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u19002 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:829px;
  width:23px;
  height:22px;
}
#u19003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:43px;
  background:inherit;
  background-color:rgba(44, 59, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u19004 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:588px;
  width:231px;
  height:43px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u19005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:227px;
  word-wrap:break-word;
}
#u19006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:43px;
  background:inherit;
  background-color:rgba(44, 59, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#75A4AF;
  text-align:left;
}
#u19006 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:505px;
  width:231px;
  height:43px;
  font-size:14px;
  color:#75A4AF;
  text-align:left;
}
#u19007 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:227px;
  word-wrap:break-word;
}
#u19008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:65px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19008 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:963px;
  width:395px;
  height:65px;
  font-size:20px;
}
#u19009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:391px;
  word-wrap:break-word;
}
#u19010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:717px;
}
#u19010 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:163px;
  width:49px;
  height:717px;
}
#u19011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:350px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:717px;
}
#u19012 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:163px;
  width:35px;
  height:717px;
}
#u19013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:350px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:717px;
}
#u19014 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:163px;
  width:58px;
  height:717px;
}
#u19015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:350px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:717px;
}
#u19016 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:163px;
  width:99px;
  height:717px;
}
#u19017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:350px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:717px;
}
#u19018 {
  border-width:0px;
  position:absolute;
  left:1234px;
  top:163px;
  width:147px;
  height:717px;
}
#u19019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:350px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1396px;
  height:44px;
}
#u19020 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:118px;
  width:1396px;
  height:44px;
}
#u19021 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19022 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:129px;
  width:37px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19024 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:129px;
  width:37px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19026 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:129px;
  width:37px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19028 {
  border-width:0px;
  position:absolute;
  left:1289px;
  top:129px;
  width:55px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u19030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u19030 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:118px;
  width:121px;
  height:45px;
}
#u19031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:507px;
}
#u19032 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-1px;
  width:229px;
  height:507px;
}
#u19033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:246px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:39px;
}
#u19034 {
  border-width:0px;
  position:absolute;
  left:1681px;
  top:4px;
  width:148px;
  height:39px;
}
#u19035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
