body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1858px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1858px;
  height:977px;
}
#u18628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-38px;
  width:1858px;
  height:977px;
}
#u18629 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:480px;
  width:1854px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18630 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:872px;
  width:61px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u18632 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:873px;
  width:54px;
  height:16px;
}
#u18633 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u18632_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18634 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:872px;
  width:147px;
  height:16px;
}
#u18635 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u18634_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18636 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:898px;
  width:54px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:65px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u18637 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:963px;
  width:395px;
  height:65px;
  font-size:20px;
}
#u18638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:391px;
  word-wrap:break-word;
}
