body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u19751 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:210px;
  width:15px;
  height:15px;
}
#u19752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19753 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:206px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u19755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u19755 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:255px;
  width:15px;
  height:15px;
}
#u19756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19757 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:251px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u19759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19759 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:296px;
  width:91px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u19761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19761 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:342px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u19763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u19763 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:346px;
  width:15px;
  height:15px;
}
#u19764 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:823px;
}
#u19765 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:37px;
  width:770px;
  height:823px;
}
#u19766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:404px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:621px;
}
#u19767 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:970px;
  width:1352px;
  height:621px;
}
#u19768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:1348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19769 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:926px;
  width:91px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u19771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19771 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:206px;
  width:181px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u19773 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:206px;
  width:100px;
  height:16px;
}
#u19774 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19773_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19775 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:232px;
  width:100px;
  height:16px;
}
#u19776 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19775_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19777 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:258px;
  width:100px;
  height:16px;
}
#u19778 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19777_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19779 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:294px;
  width:100px;
  height:16px;
}
#u19780 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19779_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19781 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:320px;
  width:160px;
  height:16px;
}
#u19782 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u19781_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19783 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:360px;
  width:100px;
  height:16px;
}
#u19784 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19783_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19785 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:394px;
  width:100px;
  height:16px;
}
#u19786 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19785_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19787 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:428px;
  width:100px;
  height:16px;
}
#u19788 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19787_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19789 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:465px;
  width:100px;
  height:16px;
}
#u19790 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19789_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19791 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:498px;
  width:100px;
  height:16px;
}
#u19792 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19791_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19793 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:534px;
  width:100px;
  height:16px;
}
#u19794 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19793_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19795 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:568px;
  width:100px;
  height:16px;
}
#u19796 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19795_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
