body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u20033 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:210px;
  width:15px;
  height:15px;
}
#u20034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u20035 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:206px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u20036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u20037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u20037 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:255px;
  width:15px;
  height:15px;
}
#u20038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u20039 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:251px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u20040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u20041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u20041 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:296px;
  width:91px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u20042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u20043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u20043 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:342px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u20044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u20045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u20045 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:346px;
  width:15px;
  height:15px;
}
#u20046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:823px;
}
#u20047 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:37px;
  width:770px;
  height:823px;
}
#u20048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:404px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:621px;
}
#u20049 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:970px;
  width:1352px;
  height:621px;
}
#u20050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:1348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u20051 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:926px;
  width:91px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u20052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u20053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u20053 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:206px;
  width:181px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u20054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u20055 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:206px;
  width:100px;
  height:16px;
}
#u20056 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20055_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20057 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:232px;
  width:100px;
  height:16px;
}
#u20058 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20057_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20059 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:258px;
  width:100px;
  height:16px;
}
#u20060 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20059_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20061 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:294px;
  width:100px;
  height:16px;
}
#u20062 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20061_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20063 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:320px;
  width:160px;
  height:16px;
}
#u20064 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u20063_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20065 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:360px;
  width:100px;
  height:16px;
}
#u20066 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20065_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20067 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:394px;
  width:100px;
  height:16px;
}
#u20068 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20067_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20069 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:428px;
  width:100px;
  height:16px;
}
#u20070 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20069_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20071 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:465px;
  width:100px;
  height:16px;
}
#u20072 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20071_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20073 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:498px;
  width:100px;
  height:16px;
}
#u20074 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20073_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20075 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:534px;
  width:100px;
  height:16px;
}
#u20076 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20075_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20077 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:568px;
  width:100px;
  height:16px;
}
#u20078 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20077_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
