body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
#u7370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
#u7371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:280px;
  word-wrap:break-word;
}
#u7372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:731px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  word-wrap:break-word;
}
#u7374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(4, 98, 247, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(20, 92, 205, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 71, 159, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7376 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:79px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(235, 242, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 216, 237, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7378 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:79px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(53, 53, 53, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(28, 28, 28, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7380 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:79px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 230, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7382 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:79px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
#u7384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:258px;
  width:280px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
#u7385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:280px;
  word-wrap:break-word;
}
#u7386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:302px;
  width:790px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  word-wrap:break-word;
}
#u7388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 9, 9, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:353px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 26, 26, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7390 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:353px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(128, 128, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7392 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:353px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 196, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7394 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:353px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(203, 203, 203, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7396 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:353px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:513px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
#u7400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:673px;
  width:280px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
#u7401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:280px;
  word-wrap:break-word;
}
#u7402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:717px;
  width:731px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u7403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  word-wrap:break-word;
}
#u7404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(234, 100, 74, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 61, 28, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:752px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(241, 163, 37, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 163, 37, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7406 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:752px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(56, 176, 63, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(44, 137, 49, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7408 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:752px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(3, 184, 207, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 139, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7410 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:752px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(189, 123, 70, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 99, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7412 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:752px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(134, 102, 184, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(108, 74, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7414 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:752px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u7415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 229, 224, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 186, 173, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:912px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 240, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 222, 162, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7418 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:912px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(221, 244, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(182, 232, 187, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7420 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:912px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(221, 243, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(182, 229, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7422 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:912px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(247, 235, 225, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 208, 185, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7424 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:912px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(245, 238, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 187, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7426 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:912px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u7428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:63px;
}
#u7428 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:229px;
  width:217px;
  height:63px;
}
#u7429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
