body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
#u18917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
#u18918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:280px;
  word-wrap:break-word;
}
#u18919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u18919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:731px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u18920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  word-wrap:break-word;
}
#u18921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(4, 98, 247, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(20, 92, 205, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 71, 159, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18923 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:79px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(235, 242, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 216, 237, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18925 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:79px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(53, 53, 53, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(28, 28, 28, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18927 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:79px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 230, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18929 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:79px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
#u18931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:258px;
  width:280px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
#u18932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:280px;
  word-wrap:break-word;
}
#u18933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u18933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:302px;
  width:790px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u18934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  word-wrap:break-word;
}
#u18935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 9, 9, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:353px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 26, 26, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18937 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:353px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(128, 128, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18939 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:353px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 196, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18941 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:353px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(203, 203, 203, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18943 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:353px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:513px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
#u18947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:673px;
  width:280px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
#u18948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:280px;
  word-wrap:break-word;
}
#u18949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u18949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:717px;
  width:731px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u18950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  word-wrap:break-word;
}
#u18951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(234, 100, 74, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 61, 28, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:752px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(241, 163, 37, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 163, 37, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18953 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:752px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(56, 176, 63, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(44, 137, 49, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18955 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:752px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(3, 184, 207, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 139, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18957 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:752px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(189, 123, 70, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 99, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18959 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:752px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(134, 102, 184, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(108, 74, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18961 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:752px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.6);
}
#u18962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 229, 224, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 186, 173, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:912px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 240, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 222, 162, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18965 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:912px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(221, 244, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(182, 232, 187, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18967 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:912px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(221, 243, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(182, 229, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18969 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:912px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(247, 235, 225, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 208, 185, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18971 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:912px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(245, 238, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 187, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18973 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:912px;
  width:150px;
  height:150px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:150px;
  word-wrap:break-word;
}
#u18975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:63px;
}
#u18975 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:229px;
  width:217px;
  height:63px;
}
#u18976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
